.articlef{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0%;
    background-image: linear-gradient(to bottom,rgb(68, 71, 75),white);
    color: black;
    height: 12em;
    width: 32.8%;
    border: solid black 0.21em;
    margin: 0%;
}